<a href="https://colab.research.google.com/github/Frascino/br-python-challenges/blob/master/Desafio_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Desafio 1

Escreva um programa em Python para contabilizar a quantidade de ocorrências de cada palavra.

In [3]:
palavras = [
   'red', 'green', 'black', 'pink', 'black', 'white', 'black', 'eyes',
   'white', 'black', 'orange', 'pink', 'pink', 'red', 'red', 'white', 'orange',
   'white', "black", 'pink', 'green', 'green', 'pink', 'green', 'pink',
   'white', 'orange', "orange", 'red'
]


# Seu código

In [4]:
import numpy as np
import pandas as pd

In [5]:
contab_list = [ 'red', 'green', 'black', 'pink', 'black', 'white',
               'black', 'eyes', 'white', 'black', 'orange', 'pink', 'pink', 'red', 'red', 'white', 'orange',
               'white', "black", 'pink', 'green', 'green', 'pink', 'green', 'pink', 'white', 'orange', "orange", 'red' ]

In [6]:
df = pd.DataFrame({'cor':contab_list})
df['num'] = 1
df2 = df.groupby(['cor'],as_index=False).agg({'num':'count'}).sort_values(['num'],ascending=False)
df2

      cor  num
4    pink    6
0   black    5
6   white    5
2   green    4
3  orange    4
5     red    4
1    eyes    1

In [7]:
import re

my_string = 'red green black pink black white black eyes white black orange pink pink red red white orange white black pink green green pink green pink white orange orange red'

words = re.findall(r'\w+', my_string)
from collections import Counter

cap_words = [word.upper() for word in words] #capitalizes all the words

word_counts = Counter(cap_words)
word_counts

Counter({'BLACK': 5,
         'EYES': 1,
         'GREEN': 4,
         'ORANGE': 4,
         'PINK': 6,
         'RED': 4,
         'WHITE': 5})